<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
           <a class="nav-link" href="/recherche">Recherche</a>
      </li>
       
    
     
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/form" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
Inscription
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/form/entr">Entreprise</a>
          <a class="dropdown-item" href="/form/user">Personne</a>
            </div>
      </li>
    
    </ul>
  </div>
</nav>