<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>marecherchetropbien</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="script.js"></script>
   <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include('home/nav.html.twig') %}
<h1 class="text-center pt-2">Bienvenue sur la page de recherche<h1>
<form action="/rechercheEffectuee" method="get" class="form-example">
 <div class="form-group pl-3">
    <label class = "h5" >Recherche automatique</label>
    <input type="" class=" mt-1 form-control w-50" id="recherche" name="rechercheAuto" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 <button type="submit" class="mt-3 btn-lg btn btn-success">Rechercher</button>
</div>  
</form>
<div>
	<span class="ml-3" style="font-size: 20px;">Recherche avancé</span>
  <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span style="font-size: 15px;">+</span>
  </a>
</div>
<div class="collapse pl-3" id="collapseExample">
  <div class="card card-body mr-3 bg-secondary">
<form action="/rechercheEffectuee" method="get" class="form-example">
 <div class ="d-flex">
 <div class="form-group col-4">
    <label class = "h5" >Entreprise</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheE" name="rechercheSociete" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Domaine d'activité</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheA" name="rechercheActivite" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Mail</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheM" name="rechercheMail" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
</div>
 <div class ="d-flex">
 <div class="form-group col-4">
    <label class = "h5" >Téléphone</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheT" name="rechercheTel" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Pays</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheP" name="recherchePays" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Ville</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheV" name="rechercheVille" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
</div>
 <div class ="d-flex">
 <div class="form-group col-4">
    <label class = "h5" >Nom</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheN" name="rechercheNom" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Prénom</label>
    <input type="" class=" mt-1 form-control w-80" id="recherchePre" name="recherchePrenom" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Statut</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheS" name="rechercheStatut" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
</div>
 <div class ="d-flex">
 <div class="form-group col-4">
 </div>
  <div class="form-group col-4">
 </div>
</div>
<div class="text-center">
<button type="submit" class="mt-3 btn-lg btn btn-success">Rechercher</button>
</form>
</div>
</div>
</div>

<div class="bg-success text-center mr-3 ml-3 mt-3">
	<H3>Entreprise</H3>
</div>	
<div class="mr-3 ml-3">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><h5>Nom de l'entreprise<h5></th>
      <th scope="col"><h5>Domaine d'activité<h5></th>
      <th scope="col"><h5>Mail<h5></th>
      <th scope="col"><h5>Tel<h5></th>
	  <th scope="col"><h5>Pays<h5></th>
	  <th scope="col"><h5>Ville<h5></th>
	  <th scope="col"><h5>Code postale<h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><h5>Orpalis</h5></th>
      <td><h5>Informatique</h5></td>
      <td><h5>Monmail@mail.com</h5></td>
      <td><h5>0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
    </tr>
        <tr>
      <th scope="row"><h5>Orpalis</h5></th>
      <td><h5>Informatique</h5></td>
      <td><h5>Monmail@mail.com</h5></td>
      <td><h5>0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
    </tr>

    <tr>
      <th scope="row"><h5>Orpalis</h5></th>
      <td><h5>Informatique</h5></td>
      <td><h5>Monmail@mail.com</h5></td>
      <td><h5>0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
    </tr>

  </tbody>
</table>
<br>
<div class="bg-success text-center">
	<H3>Personne</H3>
</div>	
</h5>
<div class="mr-3 ml-3">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><h5>Nom<h5></th>
      <th scope="col"><h5>Prénom<h5></th>
      <th scope="col"><h5>Statut<h5></th>
      <th scope="col"><h5>Mail<h5></th>
	  <th scope="col"><h5>Telephone<h5></th>
	  <th scope="col"><h5>Pays<h5></th>
	  <th scope="col"><h5>Ville<h5></th>
	  <th scope="col"><h5>Code postal<h5></th>
	  <th scope="col"><h5>Entreprise<h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><h5>Rucinski</h5></th>
      <td><h5>Yohan</h5></td>
      <td><h5>Developpeur web</h5></td>
      <td><h5>monmail@mail.com</h5></td>
      <td><h5>F0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
      <td><h5>Orpalis</h5></td>
    </tr>
    <tr>
      <th scope="row"><h5>Rucinski</h5></th>
      <td><h5>Yohan</h5></td>
      <td><h5>Developpeur web</h5></td>
      <td><h5>monmail@mail.com</h5></td>
      <td><h5>F0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
      <td><h5>Orpalis</h5></td>
    </tr>
    <tr>
      <th scope="row"><h5>Rucinski</h5></th>
      <td><h5>Yohan</h5></td>
      <td><h5>Developpeur web</h5></td>
      <td><h5>monmail@mail.com</h5></td>
      <td><h5>F0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
      <td><h5>Orpalis</h5></td>
    </tr>
  </tbody>
</table>
</div>
</div>

{# ENTREPRISE #}
<h1>Entreprise</h1>
<ul>
    {% for Societe in Societes %}
      {% for MailSociete in Societe.getMailsSociete() %} 
        {% for TelsSociete in Societe.getTelsSociete() %}
          {% for VilleSociete in Societe.getAdressesSociete() %}
            {% for ActiviteSociete in Societe.getActivites() %}
              <li>Nom : {{ Societe.getNomSociete()|e }} activite : {{ ActiviteSociete.getActivite()|e }} mail : {{ MailSociete.getAdresseMail()|e }} tel : {{ TelsSociete.getNumeroTel()|e }} ville : {{ VilleSociete.getVille()|e }} code postal : {{ VilleSociete.getCodePostal()|e }} </li>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    {% endfor %}


    {% for ResultatJointureEntreprise in ResultatsJointureEntreprise %}
              <li>Nom : {{ ResultatJointureEntreprise['a_nom_societe'] }} activite : {{ ResultatJointureEntreprise['a_activite'] }} mail : {{ ResultatJointureEntreprise['a_adresse_mail'] }} tel : {{ ResultatJointureEntreprise['a_numero_tel'] }} ville : {{ ResultatJointureEntreprise['a_ville'] }}  code postal : {{ ResultatJointureEntreprise['a_code_postal'] }}  </li>
    {% endfor %}    


 {% for ResultatMail in ResultatsMail %}
     {% for RealResultatMail in ResultatMail.getMailSociete() %}
       {% for TelsRealResultatMail in RealResultatMail.getTelsSociete() %}
          {% for VilleRealResultatMail in RealResultatMail.getAdressesSociete() %}
              {% for MailRealResultatMail in RealResultatMail.getMailsSociete() %}
                {% for ActiviteRealResultatMail in RealResultatMail.getActivites() %}  
                <li>nom : {{ RealResultatMail.getNomSociete()|e }} activite : {{ ActiviteRealResultatMail.getActivite()|e }}  mail : {{ MailRealResultatMail.getAdresseMail()|e }}  tel : {{ TelsRealResultatMail.getNumeroTel()|e }} ville : {{ VilleRealResultatMail.getVille()|e }} code postal : {{ VilleRealResultatMail.getCodePostal()|e }}  </li>
                {% endfor %}
              {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
 {% endfor %}

 {% for ResultatVille in ResultatsVille %}
     {% for RealResultatVille in ResultatVille.getAdresseSociete() %}
       {% for TelsRealResultatVille in RealResultatVille.getTelsSociete() %}
          {% for VilleRealResultatVille in RealResultatVille.getAdressesSociete() %}
              {% for MailRealResultatVille in RealResultatVille.getMailsSociete() %}
                {% for ActiviteRealResultatVille in RealResultatVille.getActivites() %}               
                <li>nom : {{ RealResultatVille.getNomSociete()|e }} activite : {{ ActiviteRealResultatVille.getActivite()|e }}  mail : {{ MailRealResultatVille.getAdresseMail()|e }}  tel : {{ TelsRealResultatVille.getNumeroTel()|e }} ville : {{ VilleRealResultatVille.getVille()|e }} code postal : {{ VilleRealResultatVille.getCodePostal()|e }}  </li>
                {% endfor %}
              {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
{% endfor %}

 {% for ResultatTel in ResultatsTel %}
     {% for RealResultatTel in ResultatTel.getTelSociete() %}
       {% for TelsRealResultatTel in RealResultatTel.getTelsSociete() %}
          {% for VilleRealResultatTel in RealResultatTel.getAdressesSociete() %}
              {% for MailRealResultatTel in RealResultatTel.getMailsSociete() %}
                {% for ActiviteRealResultatTel in RealResultatTel.getActivites() %}
                <li>nom : {{ RealResultatTel.getNomSociete()|e }} activite : {{ ActiviteRealResultatTel.getActivite()|e }}  mail : {{ MailRealResultatTel.getAdresseMail()|e }}  tel : {{ TelsRealResultatTel.getNumeroTel()|e }} ville : {{ VilleRealResultatTel.getVille()|e }} code postal : {{ VilleRealResultatTel.getCodePostal()|e }}  </li>
                {% endfor %}
              {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
{% endfor %}


 {% for ResultatActivite in ResultatsActivite %}
     {% for RealResultatActivite in ResultatActivite.getActiviteSociete() %}
       {% for TelsRealResultatActivite in RealResultatActivite.getTelsSociete() %}
          {% for VilleRealResultatActivite in RealResultatActivite.getAdressesSociete() %}
              {% for MailRealResultatActivite in RealResultatActivite.getMailsSociete() %}
                <li>nom : {{ RealResultatActivite.getNomSociete()|e }} activite : {{ ResultatActivite.getActivite()|e }} mail : {{ MailRealResultatActivite.getAdresseMail()|e }}  tel : {{ TelsRealResultatActivite.getNumeroTel()|e }} ville : {{ VilleRealResultatActivite.getVille()|e }} code postal : {{ VilleRealResultatActivite.getCodePostal()|e }}  </li>
              {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
{% endfor %}
</ul>
{# PERSONNE #}
<h1>Personne</h1>
<ul>
    {% for Personne in Personnes %}
       {% for TelsPersonne in Personne.getTelsPersonne() %}
          {% for VillePersonne in Personne.getAdressesPersonne() %}
            {% for EntreprisePersonne in Personne.getSocietePersonne() %}
              {% for MailPersonne in Personne.getMailsPersonne() %}
                {% for EmploiPersonne in Personne.getEmploisPersonne() %}                
                  <li>nom : {{ Personne.getNomPersonne()|e }} prénom : {{ Personne.getPrenomPersonne()|e }} Statut : {{ EmploiPersonne.getEmploi()|e }} mail : {{ MailPersonne.getAdresseMail()|e }}  tel : {{ TelsPersonne.getNumeroTel()|e }} ville : {{ VillePersonne.getVille()|e }} code postal : {{ VillePersonne.getCodePostal()|e }} Entreprise : {{ EntreprisePersonne.getNomSociete()|e }} </li>
                {% endfor %}  
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
    {% endfor %}

    {% for PersonnePrenom in PersonnesPrenom %}
       {% for TelsPersonnePrenom in PersonnePrenom.getTelsPersonne() %}
          {% for VillePersonnePrenom in PersonnePrenom.getAdressesPersonne() %}
            {% for EntreprisePersonnePrenom in PersonnePrenom.getSocietePersonne() %}
              {% for MailPersonnePrenom in PersonnePrenom.getMailsPersonne() %}
                {% for EmploiPersonnePrenom in PersonnePrenom.getEmploisPersonne() %}
                  <li>nom : {{ PersonnePrenom.getNomPersonne()|e }} prénom : {{ PersonnePrenom.getPrenomPersonne()|e }} Statut : {{ EmploiPersonnePrenom.getEmploi()|e }} mail : {{ MailPersonnePrenom.getAdresseMail()|e }}  tel : {{ TelsPersonnePrenom.getNumeroTel()|e }} ville : {{ VillePersonnePrenom.getVille()|e }} code postal : {{ VillePersonnePrenom.getCodePostal()|e }} Entreprise : {{ EntreprisePersonnePrenom.getNomSociete()|e }} </li>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
    {% endfor %}

 {% for ResultatMail in ResultatsMail %}
     {% for RealResultatMail in ResultatMail.getMailPersonne() %}
       {% for TelsRealResultatMail in RealResultatMail.getTelsPersonne() %}
          {% for VilleRealResultatMail in RealResultatMail.getAdressesPersonne() %}
            {% for EntrepriseRealResultatMail in RealResultatMail.getSocietePersonne() %}
              {% for MailRealResultatMail in RealResultatMail.getMailsPersonne() %}
                {% for EmploiRealResultatMail in RealResultatMail.getEmploisPersonne() %}
                 <li>nom : {{ RealResultatMail.getNomPersonne()|e }} prénom : {{ RealResultatMail.getPrenomPersonne()|e }} Statut : {{ EmploiRealResultatMail.getEmploi()|e }} mail : {{ MailRealResultatMail.getAdresseMail()|e }}  tel : {{ TelsRealResultatMail.getNumeroTel()|e }} ville : {{ VilleRealResultatMail.getVille()|e }} code postal : {{ VilleRealResultatMail.getCodePostal()|e }} Entreprise : {{ EntrepriseRealResultatMail.getNomSociete()|e }} </li>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
{% endfor %}




 {% for ResultatVille in ResultatsVille %}
     {% for RealResultatVille in ResultatVille.getAdressePersonne() %}
       {% for TelsRealResultatVille in RealResultatVille.getTelsPersonne() %}
          {% for VilleRealResultatVille in RealResultatVille.getAdressesPersonne() %}
            {% for EntrepriseRealResultatVille in RealResultatVille.getSocietePersonne() %}
              {% for MailRealResultatVille in RealResultatVille.getMailsPersonne() %}
                {% for EmploiRealResultatVille in RealResultatVille.getEmploisPersonne() %}
                  <li>nom : {{ RealResultatVille.getNomPersonne()|e }} prénom : {{ RealResultatVille.getPrenomPersonne()|e }} Statut : {{ EmploiRealResultatVille.getEmploi()|e }} mail : {{ MailRealResultatVille.getAdresseMail()|e }}  tel : {{ TelsRealResultatVille.getNumeroTel()|e }} ville : {{ VilleRealResultatVille.getVille()|e }} code postal : {{ VilleRealResultatVille.getCodePostal()|e }} Entreprise : {{ EntrepriseRealResultatVille.getNomSociete()|e }} </li>
                {% endfor %} 
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
{% endfor %}

 {% for ResultatTel in ResultatsTel %}
     {% for RealResultatTel in ResultatTel.getTelPersonne() %}
       {% for TelsRealResultatTel in RealResultatTel.getTelsPersonne() %}
          {% for VilleRealResultatTel in RealResultatTel.getAdressesPersonne() %}
            {% for EntrepriseRealResultatTel in RealResultatTel.getSocietePersonne() %}
              {% for MailRealResultatTel in RealResultatTel.getMailsPersonne() %}
                {% for EmploiRealResultatTel in RealResultatTel.getEmploisPersonne() %}
                <li>nom : {{ RealResultatTel.getNomPersonne()|e }} prénom : {{ RealResultatTel.getPrenomPersonne()|e }} Statut : {{ EmploiRealResultatTel.getEmploi()|e }} mail : {{ MailRealResultatTel.getAdresseMail()|e }}  tel : {{ TelsRealResultatTel.getNumeroTel()|e }} ville : {{ VilleRealResultatTel.getVille()|e }} code postal : {{ VilleRealResultatTel.getCodePostal()|e }} Entreprise : {{ EntrepriseRealResultatTel.getNomSociete()|e }} </li>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
{% endfor %}

 {% for ResultatEmploi in ResultatsEmploi %}
     {% for RealResultatEmploi in ResultatEmploi.getEmploiPersonne() %}
       {% for TelsRealResultatEmploi in RealResultatEmploi.getTelsPersonne() %}
          {% for VilleRealResultatEmploi in RealResultatEmploi.getAdressesPersonne() %}
            {% for EntrepriseRealResultatEmploi in RealResultatEmploi.getSocietePersonne() %}
              {% for MailRealResultatEmploi in RealResultatEmploi.getMailsPersonne() %}
                <li>nom : {{ RealResultatEmploi.getNomPersonne()|e }} prénom : {{ RealResultatEmploi.getPrenomPersonne()|e }} Statut : {{ ResultatEmploi.getEmploi()|e }} mail : {{ MailRealResultatEmploi.getAdresseMail()|e }}  tel : {{ TelsRealResultatEmploi.getNumeroTel()|e }} ville : {{ VilleRealResultatEmploi.getVille()|e }} code postal : {{ VilleRealResultatEmploi.getCodePostal()|e }} Entreprise : {{ EntrepriseRealResultatEmploi.getNomSociete()|e }} </li>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
{% endfor %}
</ul>

</body>
<footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
</footer>
</html>