<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>marecherchetropbien</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="script.js"></script>
   <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include('home/nav.html.twig') %}
<h1 class="text-center pt-2">Bienvenue sur la page de recherche<h1>
<form action="/rechercheEffectuee" method="get" class="form-example">
 <div class="form-group pl-3">
    <label class = "h5" >Recherche automatique</label>
    <input type="" class=" mt-1 form-control w-50" id="recherche" name="rechercheAuto" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 <button type="submit" class="mt-3 btn-lg btn btn-success">Rechercher</button>
</div>  
</form>
<div>
	<span class="ml-3" style="font-size: 20px;">Recherche avancé</span>
  <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span style="font-size: 15px;">+</span>
  </a>
</div>
<div class="collapse pl-3" id="collapseExample">
  <div class="card card-body mr-3 bg-secondary">
<form action="/rechercheEffectuee" method="get" class="form-example">
 <div class ="d-flex">
 <div class="form-group col-4">
    <label class = "h5" >Entreprise</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheE" name="rechercheSociete" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Domaine d'activité</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheA" name="rechercheActivite" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Mail</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheM" name="rechercheMail" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
</div>
 <div class ="d-flex">
 <div class="form-group col-4">
    <label class = "h5" >Téléphone</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheT" name="rechercheTel" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Pays</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheP" name="recherchePays" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Ville</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheV" name="rechercheVille" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
</div>
 <div class ="d-flex">
 <div class="form-group col-4">
    <label class = "h5" >Nom</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheN" name="rechercheNom" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Prénom</label>
    <input type="" class=" mt-1 form-control w-80" id="recherchePre" name="recherchePrenom" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
  <div class="form-group col-4">
    <label class = "h5" >Statut</label>
    <input type="" class=" mt-1 form-control w-80" id="rechercheS" name="rechercheStatut" aria-describedby="emailHelp" placeholder="Entrer votre recherche">  
 </div>
</div>
 <div class ="d-flex">
 <div class="form-group col-4">
 </div>
  <div class="form-group col-4">
 </div>
</div>
<div class="text-center">
<button type="submit" class="mt-3 btn-lg btn btn-success">Rechercher</button>
</form>
</div>
</div>
</div>

<div class="bg-success text-center mr-3 ml-3 mt-3">
	<H3>Entreprise</H3>
</div>	
<div class="mr-3 ml-3">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><h5>Nom de l'entreprise<h5></th>
      <th scope="col"><h5>Domaine d'activité<h5></th>
      <th scope="col"><h5>Mail<h5></th>
      <th scope="col"><h5>Tel<h5></th>
	  <th scope="col"><h5>Pays<h5></th>
	  <th scope="col"><h5>Ville<h5></th>
	  <th scope="col"><h5>Code postale<h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><h5>Orpalis</h5></th>
      <td><h5>Informatique</h5></td>
      <td><h5>Monmail@mail.com</h5></td>
      <td><h5>0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
    </tr>
        <tr>
      <th scope="row"><h5>Orpalis</h5></th>
      <td><h5>Informatique</h5></td>
      <td><h5>Monmail@mail.com</h5></td>
      <td><h5>0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
    </tr>

    <tr>
      <th scope="row"><h5>Orpalis</h5></th>
      <td><h5>Informatique</h5></td>
      <td><h5>Monmail@mail.com</h5></td>
      <td><h5>0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
    </tr>

  </tbody>
</table>
<br>
<div class="bg-success text-center">
	<H3>Personne</H3>
</div>	
</h5>
<div class="mr-3 ml-3">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><h5>Nom<h5></th>
      <th scope="col"><h5>Prénom<h5></th>
      <th scope="col"><h5>Statut<h5></th>
      <th scope="col"><h5>Mail<h5></th>
	  <th scope="col"><h5>Telephone<h5></th>
	  <th scope="col"><h5>Pays<h5></th>
	  <th scope="col"><h5>Ville<h5></th>
	  <th scope="col"><h5>Code postal<h5></th>
	  <th scope="col"><h5>Entreprise<h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><h5>Rucinski</h5></th>
      <td><h5>Yohan</h5></td>
      <td><h5>Developpeur web</h5></td>
      <td><h5>monmail@mail.com</h5></td>
      <td><h5>F0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
      <td><h5>Orpalis</h5></td>
    </tr>
    <tr>
      <th scope="row"><h5>Rucinski</h5></th>
      <td><h5>Yohan</h5></td>
      <td><h5>Developpeur web</h5></td>
      <td><h5>monmail@mail.com</h5></td>
      <td><h5>F0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
      <td><h5>Orpalis</h5></td>
    </tr>
    <tr>
      <th scope="row"><h5>Rucinski</h5></th>
      <td><h5>Yohan</h5></td>
      <td><h5>Developpeur web</h5></td>
      <td><h5>monmail@mail.com</h5></td>
      <td><h5>F0689335115</h5></td>
      <td><h5>France</h5></td>
      <td><h5>Toulouse</h5></td>
      <td><h5>31600</h5></td>
      <td><h5>Orpalis</h5></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
<footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
</footer>
</html>