<div class="card-deck">
	<div class="card">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{ societe.nom_societe  }}</h5>
			<h6 class="card-subtitle">{{ societe.activite }}</h6>
			<h6 class="card-subtitle">{{ societe.mail }}</h6>
			<h6 class="card-subtitle">{{ societe.tel }}</h6>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
