<div class="card-deck">
	<div class="card">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{ personne.nom_personne ~ personne.prenom_personne  }}</h5>
			<h6 class="card-subtitle">{{ personne.societe }}</h6>
			<h6 class="card-subtitle">{{ personne.mail }}</h6>
			<h6 class="card-subtitle">{{ personne.tel }}</h6>
		</div>
		<div class="card-footer">
			<a href="#" class="card-link">Profile</a>
		</div>
	</div>
</div>
