{% extends 'base.html.twig' %}

{% block body %}

	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">nom_prenom</h5>
			<div class="entrepriseCardPersonne">
				<div class="row">
					<div class="col-md-6">
						<h6>Entreprise</h6>
					</div>
					<div class="col-md-6">
						<a href="#" class="card-link">nom_societe</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
