{% extends 'base.html.twig' %}

{% block title %}Hello FormEntrController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 2em auto; max-width: 800px; width: 95%; font: 16px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

.required, label{
  position: absolute;
	left: 100px;
	white-space: nowrap;
  background: #dbd5d3;
}


</style>

{% include('home/nav.html.twig') %}
<div class="example-wrapper" id="label" style="color: grey">
<p style="margin: 5px; color: black">Societe</p>
{{ form_start(form1) }}

 
<div>{{ form_widget(form1) }}</div>
{{ form_start(form2) }}
{{ form_widget(form2) }}
<p style="margin: 5px; color: black">Adresse: </p>
{{ form_start(form4) }}
{{ form_widget(form4) }}
{{ form_start(form5) }}
<div type="onclick" id="click5">{{ form_widget(form5) }} </div>

<div id="new" style="display:none">{{ form_start(form51) }}
{{ form_widget(form51) }}</div>
<p style="margin: 2px; color: black">Telephone: </p>
{{ form_start(form7) }}
{{ form_widget(form7) }}
{{ form_start(form8) }}
<div type="onclick" id="click8">{{ form_widget(form8) }}</div>

<div id="newtel" style="display:none">{{ form_start(form81) }}
{{ form_widget(form81) }}</div>
<p style="margin: 2px; color: black">Mail: </p>
{{ form_start(form9) }}
{{ form_widget(form9) }}
{{ form_start(form10) }}
<div type="onclick" id="click10">{{ form_widget(form10) }}</div>

<div id="newmail" style="display:none">{{ form_start(form101) }}
{{ form_widget(form101) }}</div>

<button type=submit style="margin:20px"> Enregistre </button>

{{ form_end(form1) }}
{{ form_end(form2) }}

{{ form_end(form4) }}
{{ form_end(form5) }}
{{ form_end(form51) }}

{{ form_end(form7) }}
{{ form_end(form8) }}
{{ form_end(form81) }}
{{ form_end(form9) }}
{{ form_end(form10) }}
{{ form_end(form101) }}
</div>

</div>


<script>
let adresse=document.getElementById("click5");
let newtype=document.getElementById('new');
let tel=document.getElementById("click8");
let newtypetel=document.getElementById('newtel');
let mail=document.getElementById("click10");
let newtypemail=document.getElementById('newmail');

adresse.onclick = function(event){
    console.log(event.target.value)
      if (event.target.value=='autre'){
          
       newtype.style="display: block";
    }
      else
       {   
       newtype.style="display: none";
    }
}

tel.onclick = function(event){
      if (event.target.value=='autre'){
       newtypetel.style="display: block";
    }
      else
       {   
       newtypetel.style="display: none";
    }
}

mail.onclick = function(event){
      if (event.target.value=='autre'){
       newtypemail.style="display: block";
    }
      else
       {   
       newtypemail.style="display: none";
    }
}
    </script>

{% endblock %}
