{% extends 'base.html.twig' %}

{% block title %}Hello FormUserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .required, label{
  position: absolute;
	left: 100px;
	white-space: nowrap;
  background: #dbd5d3;
</style>

{% include('home/nav.html.twig') %}
<div class="example-wrapper" id="label" style="color: grey; font-size: 16px; margin-top: 20px">
<p style="margin: 5px; color: black" id=erreur>Personne</p>
{{ form_start(form6) }}
{{ form_widget(form6) }}
{{ form_start(form1) }}
<div type="onclick">{{ form_widget(form1) }}

{{ form_start(form3) }}
{{ form_widget(form3) }}</div>



<p style="margin: 2px; color: black">Adresse: </p>
{{ form_start(form4) }}
{{ form_widget(form4) }}
<div style="display:none">{{ form_start(form5) }}
{{ form_widget(form5) }}</div>
<p style="margin: 2px; color: black">Telephone: </p>
{{ form_start(form7) }}
{{ form_widget(form7) }}

<div style="display:none">{{ form_start(form8) }}
{{ form_widget(form8) }}</div>
<p style="margin: 2px; color: black">Mail: </p>
{{ form_start(form9) }}
{{ form_widget(form9) }}
<div style="display:none">{{ form_start(form10) }}
{{ form_widget(form10) }}</div>

<button type=submit style="margin:20px"> Enregistre </button>

{{ form_end(form1) }}
{{ form_end(form3) }}
{{ form_end(form4) }}
{{ form_end(form5) }}
{{ form_end(form6) }}
{{ form_end(form7) }}
{{ form_end(form8) }}
{{ form_end(form9) }}
{{ form_end(form10) }}

</div>


<script>
let clickent=document.getElementById("societe1_nom_societe");
let clickEmploi=document.getElementById("plus");
let plus=document.getElementById("new");
let erreur=document.getElementById("erreur");


clickent.onclick = function(event){
    console.log( 'click', clickent.value);
    if(!clickent.value){
      
          var newDiv = document.createElement("div", id="er");
        newDiv.innerHTML+='Erreur: Enregistres une entreprise';
         newDiv.innerHTML+=`<form  method="post">
    <input action="form/entr/index.html.twig" type="submit" name="Entreprise" value="Entreprise" />
</form>`;
        console.log(newDiv, clickent );
        erreur.append(newDiv);
        newDiv.style="background: pink";
        

    }
}

    clickEmploi.onclick = function(event){
      console.log('clickEmp')
      if (event){
      plus.style="display: block";
    }
      else
       {   
       plus.style="display: none";
    }


}
</script>
{% endblock %}


